.products{
  
    display: grid;
    grid-template-columns: repeat(3 , 1fr  );
    gap: 2rem;

}

.Product{
    background-color: #efefef;
    padding: 1rem;
    box-shadow: 0px 10px 10px  -3px rgba(0, 0, 0  , 0.1);
    transition: box-shadow 0.2s ease-in-out ,   transform 0.2s ease-in-out;

}


.Product:hover{
    box-shadow: 0px 10px 10px 2px rgba(0, 0, 0  , 0.1);
    transform: scale(1.01);

}



.ProductImage{
    max-width: 100%;
    height: 300px;
    object-fit: contain;
    aspect-ratio: 4/3;
    mix-blend-mode: darken;


}

.ProductTitle , .productPrice{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;

}


.productPrice{
    font-weight: bold;
}


.AddToCartButton{
    background-color: #2980b9;
    padding: 1rem 1.5rem;
    border: none;
    color: #ecf0f1;
    font-weight: 500;
    border-radius: .5rem;
    transition: background-color 0.2s ease-in-out;

}


.AddToCartButton:hover{
    background-color: #1a74b1;
}


.productHeading{
    margin: 1rem;
}








@media screen and (max-width:900px){
    .products{
    grid-template-columns: repeat(2 , 1fr  );
    }
    
}


@media screen and (max-width:600px){
    .products{
    grid-template-columns: repeat(1 , 1fr  );
    }
    
}